body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(226, 128, 16);  
  height: 97.5vh;
  background: linear-gradient(
  0deg,
  rgb(218, 38, 38)40%,
  rgb(241, 47, 47)45%,
  rgb(236, 203, 222)100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background-color: darkgray;
  border-radius: 13px;
  width: 430px;
  height: 505px;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/Fonts/Roboto/Roboto-Medium.ttf);
}
body{
  font-family: 'Roboto';
}